{% extends 'base.html' %}

{% block head %}
<title>Dziewczęca Służba Maryjna</title>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="content-container">
            <div class="news-box">
                <div id="photo-field">
                    <img class="main-photo" src="{{ url_for('static', filename='img/group-photos/dsm-photo.png') }}" alt="GroupImage"></img>
                </div>
                <h2 class="info-title" id="title-field">Dziewczęca Służba Maryjna</h2>
                <div class="info-text" >
                    <p id="content-field">
                        Dziewczęca Służba Maryjna jest wspólnotą dziewcząt, które zdecydowały się zawierzyć swoje życie Maryi i na Jej wzór wzrastać w wierze oraz w pięknym człowieczeństwie. Ich głównym zadaniem jest Służba Maryi, czyli rozsławianie Jej postawy i życia. Pragną, aby jak najwięcej dziewcząt brało przykład z Maryi, a przez swoją postawę dawały przykład rówieśnikom. Pragną poznawać życie Maryi, Jej postawy, uczyć się od Niej bycia posłusznym, milczącym, ofiarnym i poznane cechy Maryi wcielać w życie.
                        <br><br>Na spotkaniach poruszane są tematy związane z życiem Maryi oraz Jej Syna Jezusa,  także o Świętych. Po omówieniu tematu jest także czas na różne gry i zabawy. 
                        <br><br>W trakcie formacji realizowane jest Pięć zadań dziecka Maryi:
                        <ol>
                        <li> Maryi uczę się chętnego posłuszeństwa. (posłuszeństwo)</li>
                        <li>Od Maryi uczę się żyć w zgodzie z innymi. (wspólnota)</li>
                        <li>Od Maryi uczę się prawdziwej radości. (radość)</li>
                        <li>Od Maryi uczę się wybierać to, co trudne. (ofiara)</li>
                        <li>Od Maryi uczę się kochać Jezusa. (przyjaźń z Jezusem)</li>
                        </ol>
                        <br>Dziewczęca Służba Maryjna w naszej parafii liczy 37 dziewcząt. Są to dziewczyny od klasy czwartej do klasy ósmej. Główną Patronką jak i przewodniczką jak sama nazwa grupy wskazuje jest oczywiście Matka Boża. I to od Niej trzeba uczyć się naśladowania Chrystusa i podążania za Nim.
                        <br><br>Dziewczęcej Służby Maryjnej odbywają się w każdą sobotę o godzinie 10.00. W okresie wakacyjnym spotkań nie ma.
                    </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

