{% extends 'base.html' %}

{% block head %}
<title>Grupa Apostolska</title>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v15.0" nonce="ZgXcqXp7"></script>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="content-container">
            <div class="news-box">
                <div id="photo-field">
                    <img class="main-photo" src="{{ url_for('static', filename='img/group-photos/ga-photo.png') }}" alt="GroupImage"></img>
                </div>
                <h2 class="info-title" id="title-field">Grupa Apostolska</h2>
                <div class="info-text" >
                    <p id="content-field">
                        Grupy parafialne tworzą małe wspólnoty ludzi, którzy poprzez konkretną pracę pragną pogłębiać swoją relację z Panem Bogiem. Pozwalają one na nowo odkryć Jezusa i podążać jego śladami. W tych grupach czeka miejsce dla Ciebie. W dzisiejszym świecie, w którym tak często czujemy się samotni i wyobcowani wspólnota daje szansę odnalezienia własnego miejsca w życiu, odkrycia jego sensu i jego wartości jaką może być praca na rzecz pogłębiania swojej wiary. Pamiętajmy również, że każda wspólnota buduje więzi międzyludzkie, które nie raz mogą przydać nam się w życiu.
                        <br><br> Apostolska w naszej parafii liczy około 25 osób. Są to głównie osoby uczęszczające do szkół średnich. Patronem grupy jest Apostoł Narodów - święty Paweł. Spotkania Grupy Apostolskiej odbywają się w każdy piątek po wieczornej Mszy Świętej.
                    </p>
                </div>

                <div class="facebook-embeded">
                    <div class="fb-page" data-href="https://www.facebook.com/Grupa-Apostolska-Stary-Wi&#x15b;nicz-282549075699900/" data-tabs="timeline" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
                        <blockquote cite="https://www.facebook.com/Grupa-Apostolska-Stary-Wi&#x15b;nicz-282549075699900/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Grupa-Apostolska-Stary-Wi&#x15b;nicz-282549075699900/">Grupa Apostolska Stary Wiśnicz</a></blockquote>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
{% endblock %}

