{% extends 'base.html' %}

{% block head %}
<title>Grupa Apostolska</title>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="content-container">
            <div class="news-box">
                <div id="photo-field">
                    <img class="main-photo" src="{{ url_for('static', filename='img/group-photos/ga-photo.png') }}" alt="GroupImage"></img>
                </div>
                <h2 class="info-title" id="title-field">Grupa Apostolska</h2>
                <div class="info-text" >
                    <p id="content-field">
                        Grupy parafialne tworzą małe wspólnoty ludzi, którzy poprzez konkretną pracę pragną pogłębiać swoją relację z Panem Bogiem. Pozwalają one na nowo odkryć Jezusa i podążać jego śladami. W tych grupach czeka miejsce dla Ciebie. W dzisiejszym świecie, w którym tak często czujemy się samotni i wyobcowani wspólnota daje szansę odnalezienia własnego miejsca w życiu, odkrycia jego sensu i jego wartości jaką może być praca na rzecz pogłębiania swojej wiary. Pamiętajmy również, że każda wspólnota buduje więzi międzyludzkie, które nie raz mogą przydać nam się w życiu.
                        <br><br> Apostolska w naszej parafii liczy około 25 osób. Są to głównie osoby uczęszczające do szkół średnich. Patronem grupy jest Apostoł Narodów - święty Paweł. Spotkania Grupy Apostolskiej odbywają się w każdy piątek po wieczornej Mszy Świętej.
                    </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

