{% extends 'base.html' %}

{% block head %}
<title>Liturgiczna Służba Ołtarza</title>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="content-container">
            <div class="news-box">
                <div id="photo-field">
                    <img class="main-photo" src="{{ url_for('static', filename='img/group-photos/lso-photo.png') }}" alt="GroupImage"></img>
                </div>
                <h2 class="info-title" id="title-field">Liturgiczna Służba Ołtarza</h2>
                <div class="info-text" >
                    <p id="content-field">
                        Najmłodsi z grona Liturgicznej Służby Ołtarza to aspiranci - chodzą do trzeciej klasy szkoły podstawowej. Nieco starsi są ministrantami. Ich głównym zadaniem jest posługa podczas Mszy Świętej i nabożeństw, dawanie sygnałów dzwonkami, oraz noszenie symboli (krzyża, akolitek, kadzidła).
                        <br>Zbiórki ministrantów odbywają się w ciągu roku szkolnego w piątki, przed wieczorną Mszą Świętą.
                        <br><br>W naszej parafii jest także wspólnota lektorów. Są to chłopcy od klasy szóstej do klas ponadgimnazjalnych. Lektorzy bardzo często angażują się w prace przy plebanii oraz kościele. Lecz ich najważniejszym zadaniem jest mężne głoszenie Słowa Bożego oraz służenie przy Mszy Świętej.
                        <br>Zbiórki Lektorów odbywają się w każdą sobotę o godz. 8.00 W okresie wakacyjnym spotkań nie ma.
                        
                        <h3>10 ZASAD MINISTRANTA I LEKTORA</h3>
                        <ol>
                        <li>Ministrant i lektor kocha Boga i dla Jego chwały wzorowo spełnia swe obowiązki służby ołtarza.</li>
                        <li>Ministrant i lektor służy Chrystusowi Panu w ludziach.</li>
                        <li>Ministrant i lektor rozwija w sobie Boże życie.</li>
                        <li>Ministrant i lektor pracuje nad swoim charakterem i czuwa nad czystością serca i duszy.</li>
                        <li>Ministrant i lektor poznaje liturgię i nią żyje.</li>
                        <li>Ministrant i lektor modli się za ojczyznę i służy jej rzetelną pracą.</li>
                        <li> Ministrant i lektor jest dobrym synem i bratem.</li>
                        <li> Ministrant i lektor swoją chrześcijańską postawą wnosi wszędzie prawdziwą radość.</li>
                        <li> Ministrant i lektor przez swoją pilność i sumienność staje się przykładem dla innych.</li>
                        <li>Ministrant i lektor podobnie jak kapłan stara się być niejako drugim Chrystusem.</li>
                        </ol>
                        
                    </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


