/* Main Styles */

#main{
  background-color: #EEEEEE;
}

img{
  object-fit: scale-down;
  width: 100%;

}

.widgetStyle{
  border: 1px #2A2A2D;
  margin: 20px;
  background-color: white;
  box-shadow: 0 0 4px -1px #39393F;
  padding: 15px 20px;
}

.widgetStyle p{
  margin: 5px 30px;
}

.widgetStyle h2{
  text-align: center;
  margin-bottom: 20px;

}

.paragraphCenter{
  text-align: center;
  font-size: 13px;
}

.paddingSection{
  padding: 20px 20px 20px 0;
}


/* Main wiev styles */

.buttonDiv{
  text-align:center;
  margin-top: 15px;
}
.buttonDiv button{
  background: #ff1100;
  border-radius: 5px;
  border: none;
  color: #F9F8F8;
  font-weight: bolder;
  margin: 10px 0;
  padding: 13px;
}
.buttonDiv button:hover{
  background-color: #ff6c61;
}


/* Post Section Styles */

.posts{
background-color: #000;
padding: 40px;
}

.newsWidget{

}