/* Main Styles */

#main{
  background-color: #EEEEEE;
}

img{
  object-fit: scale-down;
  width: 100%;

}

.widgetStyle{
  border: 1px #2A2A2D;
  margin: 20px;
  background-color: white;
  box-shadow: 0 0 4px -1px #39393F;
  padding: 15px 20px;
}

.widgetStyle p{
  margin: 5px 30px;
}

.widgetStyle h2{
  text-align: center;
  margin-bottom: 20px;

}

.paragraphCenter{
  text-align: center;
  font-size: 13px;
}

.paddingSection{
  padding: 20px 20px 20px 0;
}

.container a{
  text-decoration: none;
}

/* Main view styles */

.buttonDiv{
  text-align:center;
  margin-top: 15px;
}
.buttonDiv button{
  background: #ff1100;
  border-radius: 5px;
  border: none;
  color: #F9F8F8;
  font-weight: bolder;
  margin: 10px 0;
  padding: 13px;
}
.buttonDiv button:hover{
  background-color: #ff6c61;
}


/* Post Section styles */

.posts{
background-color: #000;
padding: 40px;
}

/* Navigation styles */

#menu{
  border-bottom: 1px solid darkgray;
}

.navigation .menu-link{
border-right: 1px solid darkgray;
}
.navigation .first{
  border-left: 1px solid darkgray;
}
.navigation .menu-link p{
color: black;
font-size: large;
text-align: center;
}
.navigation .row{
  margin: 10px 0px 20px 0px;
}
.navigation .firstpage{
  color: red;
  height :2px;
  margin-bottom: 0;
  margin-top: -2px;
}
.navigation .secondpage{
  color: red;
  height :2px;
  margin-bottom: 0;
  margin-top: -2px;
}
.navigation .thirdpage{
  color: red;
  height :2px;
  margin-bottom: 0;
  margin-top: -2px;
}
.navigation .fourthpage{
  color: red;
  height :2px;
  margin-bottom: 0;
  margin-top: -2px;
}
.navigation .fifthpage{
  color: red;
  height :2px;
  margin-bottom: 0;
  margin-top: -2px;
}

/* News styles */

.all-news-box{
  background-color:  #F9F8F8;
  padding-top: 40px;
}

.widget-box{
  border: 1px #2A2A2D;
  background-color: white;
  padding: 0 !important ;
  margin: 20px;
}

.widget-inner-container{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 4px -1px #39393F;
  color: #2A2A2D;
}

.widget-inner-container:hover{
  color: black;
  box-shadow: 0 0 10px -2px #39393F;
}

.widget-inner-container h2{
  padding: 10px;
  text-align: center;
}

.widget-inner-container p{
  padding: 10px;
  font-size: small;
}

.widget-inner-container img{
  width: 100%;
  height: 256px;
  object-fit: cover;
}

<<<<<<< Updated upstream
=======
/* Single info */
.latest-news-box{
  background-color:  black;
  padding-top: 40px;
}

.content-container{
  background-color: #F9F8F8;
  padding: 40px 0px;
}

.news-box{
  width: 80%;
  margin-left: 10%;
  background-color: white;
  box-shadow: 0 0 4px -1px #39393F;
  color: #2A2A2D;
}

.main-photo{
  width: 100%;
  height: 512px;
  object-fit: cover;
}

.news-box h2{
  padding: 20px 10px;
  text-align: center;
  font-size: xx-large;
}

.info-text{
  padding: 10px 40px 30px 40px;
  font-size: 18px;
}

@media (max-width: 992px) { 
  .main-photo{
    height: 384px;
  }
}

@media (max-width: 768px) { 
  .news-box{
    width: 100%;
    margin: 0px;
  }

  .main-photo{
    height: 256px;
  }
}

/* Contact page */
.contact-content{
  margin-top: 40px;
}

.jumper
{
  padding: 20px;
  text-align: center;
  margin: 20px;
}

.jumper img
{
	width: 10%;
}

.jumper figure
{
	margin: 10px;
}

.contact-heading h1{
  text-align: center;
  font-size: 36px;
	font-weight: 400;
	padding: 20px;
}

.contact-fields{
  font-size: 17px;
}

#center-contact-field{
  border-left: 2px solid black; 
  border-right: 2px solid black;
}

@media (max-width: 1200px) { 
  #center-contact-field{
    border-left: 2px solid black; 
    border-right: none;
  }
}

@media (max-width: 768px) { 
  #center-contact-field{
    border-left: none; 
    border-right: none;
  }
}

/* Church subpages */
.video-container{
  width: 70%;
  margin-left: 15%;
  text-align: center;
  margin-top: 40px;
}

.info-text hr{
  width: 70%;
  margin-top: 15px;
}

.priests-tab{
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}

.priests-tab td{
  width: 50%;
  padding: 5px 10px;
}

.priest-col{
  text-align: right;
}

@media (max-width: 992px) { 
  .video-container{
    width: 100%;
    margin-left: 0;
  }
  
}

/* Parisch office */
.office-info{
  text-align: center;
  font-size: 18px;
}

.office-info h3{
  font-size: 24px;
}


.parish-service-widget h2{
  font-size: 20px;
  margin: 0px;
}

.office-heading h1{
  text-align: center;
  font-size: 36px;
	font-weight: 400;
	padding: 20px;
}

.info-text h3{
  font-size: 24px;
  margin: 24px 10px 12px 10px;
  margin-left: 10px;

}

.info-text h4{
  font-size: 22px;
  margin: 20px 10px 10px 10px;
  font-weight: 400;
}


>>>>>>> Stashed changes

