{% extends 'base.html' %}

{% block head %}
<title>Strona Główna</title>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="content-container">
            <div class="news-box">
                <div id="photo-field">
                    <img class="main-photo" src="{{ url_for('static', filename='img/church.jpg') }}" alt="GroupImage"></img>
                </div>
                <h2 class="info-title" id="title-field"> Chronologiczny wykaz znanych księży proboszczów w parafii</h2>
                <div class="info-text" >
                    <table class="priests-tab">
                        <tr>
                            <td class="priest-col">Jan plebanus ecclesiae de Visnice</td>
                            <td>wspomniany w rachynkach świętopietrza z lat 1325 - 1327</td>
                        </tr>
                        <tr>
                            <td class="priest-col">Jan kapelan de Visznicz</td>
                            <td>wspomniany przez dokument z 1389 roku</td>
                        </tr>
                        <tr>
                            <td class="priest-col">Mikołaj pleban de Wiśnicze</td>
                            <td>wspomniany przez dokument z 1398 roku</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Kantorek Mikołaj</td>
                            <td>od roku 1443</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Stanisław August Piotrowski </td>
                            <td>prepozyt od roku 1727</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Antoni Piątkiewicz</td>
                            <td>prepozyt w latach 1742 - 1758</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Jan Szylder</td>
                            <td>1758 - 1778</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Sebastian Szafrański</td>
                            <td>1818 - 1836</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Wincenty Świetliński</td>
                            <td>1837 - 1870</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Wincenty Wąsikiewicz</td>
                            <td>1870 - 1896</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Franciszek Ręczka</td>
                            <td>1896</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Franciszek Xawery Ratowski</td>
                            <td>1896 - 1922</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Antoni Gawęda</td>
                            <td>1922 - 1970</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Stanisław Jakubas</td>
                            <td>1970 - 2003</td>
                        </tr>
                        <tr>
                            <td class="priest-col">ks. Ryszard Kołodziej</td>
                            <td>2003 - do dziś</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

