{% extends 'base.html' %}

{% block head %}
<title>Strona Główna</title>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="content-container">
            <div class="news-box">
                <div id="photo-field">
                    <img class="main-photo" src="{{ url_for('static', filename='img/office-photos/baptism.png') }}" alt="ServiceImage"></img>
                </div>
                <h2 class="info-title" id="title-field">Chrzest Święty</h2>
                <div class="info-text" >
                    <p id="content-field">
                        Chrzest jest bramą do życia i Królestwa Bożego, przyniósł go Chrystus wszystkim ludziom aby mieli życie wieczne. Chrzest jest sakramentem, przez który ludzie wchodzą do wspólnoty Kościoła. Ochrzczeni w Imię Trójcy Świętej stajemy się własnością Boga i Jego ukochanymi dziećmi. <br>
                        <h3>Celebracja sakramentu Chrztu świętego w naszej parafii:</h3>
                        <ol>
                            <li>Sakrament chrztu św. w naszej parafii udzielany jest w trzecią niedzielę miesiąca na Mszy św. o godz. 11.00. Dziecko do chrztu św. mają obowiązek zapisać tylko rodzice lub jeden z rodziców (nigdy zaś babcia, albo ktoś z rodziny).
                            <li>Jeśli rodzice dziecka mieszkają na terenie innej parafii, jest możliwe zapisanie dziecka do chrztu w naszej parafii, ale tylko za pisemną zgodą swojego proboszcza.
                            <li>Zgłaszając dziecko do chrztu św. w kancelarii parafialnej należy:
                            
                            <ul>
                                <li>przynieść akt urodzenia dziecka z USC;
                                <li>podać datę ślubu kościelnego rodziców;
                                <li>podać dane rodziców dziecka (imiona i nazwiska, nazwisko rodowe matki, daty urodzenia, imiona i nazwiska ich rodziców, adres zamieszkania);
                                <li>podać dane rodziców chrzestnych (imiona i nazwiska, daty urodzenia oraz adresy zamieszkania).
                            </ul>

                            <li>Gdy rodzice nie mają ślubu kościelnego, podpisują zobowiązanie, że wychowają dziecko w wierze katolickiej i że w najbliższym czasie wezmą ślub kościelny (jeśli nie mają przeszkód).
                            <li>Przed chrztem zarówno rodzice (o ile nie żyją w związku niesakramentalnym), jak i rodzice chrzestni powinni przystąpić do spowiedzi, aby w czasie Eucharystii przyjąć Komunię św., dlatego przy wpisywaniu dziecka do Księgi Chrztów otrzymują kartki do spowiedzi, które powinni wręczyć kapłanowi przed spowiedzią.
                            <li>Rodzice chrzestni spoza naszej parafii winni przedłożyć wcześniej zaświadczenie od Proboszcza własnej parafii, zawierające informację, że są praktykującymi katolikami (np. nie mogą to być osoby żyjące w związkach niesakramentalnych!).
                            <li>W dniu chrztu św. trzeba przybyć do kościoła ok. 15 minut przed rozpoczęciem Mszy św. i udać się do zakrystii celem dopełnienia formalności (kartki od spowiedzi rodziców i chrzestnych, podpisy w Księdze Chrztów). Następnie należy zająć miejsce w pierwszej ławce i oczekiwać na rozpoczęcie Mszy Świętej.
                            <li>Przychodząc na Mszę św. chrzcielną należy mieć ze sobą świecę chrzcielną oraz białą szatę dla dziecka.
                            <li>Imię nadawane dziecku powinno być imieniem świętego lub błogosławionego, aby miało ono swojego patrona i orędownika u Boga.
                            <li>Chrzestny powinien spełniać następujące warunki:
                            
                            <ul>
                                <li>mieć ukończone 16 lat
                                <li>być praktykującym katolikiem, który przyjął sakrament bierzmowania
                                <li>prowadzić życie zgodne z wiarą (nie może być to osoba żyjąca w związku niesakramentalnym)
                                <li>przedstawić zaświadczenie wydane przez parafię miejsca zamieszkania, że może pełnić funkcję chrzestnego.
                            </ul>
                        </ol>


                    </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
        
    
    


