{% extends 'base.html' %}

{% block head %}
<title>Strona Główna</title>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="content-container">
            <div class="news-box">
                <div id="photo-field">
                    <img class="main-photo" src="{{ url_for('static', filename='img/office-photos/marriage.png') }}" alt="ServiceImage"></img>
                </div>
                <h2 class="info-title" id="title-field">Małżeństwo</h2>
                <div class="info-text" >
                    <p id="content-field">
                        Przez chrzest, który jest sakramentem wiary, mężczyzna i kobieta raz na zawsze zostają włączeni w przymierze Chrystusa z Kościołem, tak że ich małżeńska wspólnota zostaje wchłonięta przez miłość Chrystusa i obdarzona mocą Jego ofiary. Z tej nowej godności wynika, że ważne małżeństwo ochrzczonych zawsze jest sakramentem
                        <br>Narzeczeni mając zamiar zawrzeć sakramentalny związek małżeński winni zgłosić się w kancelarii na trzy miesiące przed planowanym ślubem.
                        <h3>Narzeczeni zgłaszając się do Księdza Proboszcza powinni ze sobą przynieść:</h3>
                        <ul>
                        <li>Dowody osobiste.
                        <li>Metryki chrztu (niedawno wydane). Ważność metryki potrzebnej do ślubu wynosi sześć miesięcy, licząc od daty wystawienia do daty ślubu. Metrykę wybieramy osobiście w parafii, w której zostaliśmy ochrzczeni.
                        <br>Metrykę może odebrać w imieniu zainteresowanej osoby inna pełnoletnia osoba (np. rodzic), jeżeli przedstawi w kancelarii parafialnej pisemne pełnomocnictwo sporządzone zgodnie z zasadami prawa cywilnego (wzory można łatwo znaleźć w internecie) – ma ono zawierać miejsce i datę wystawienia, własnoręczny podpis osoby udzielającej pełnomocnictwa oraz jej dane).
                        <br>Jeżeli ktoś został ochrzczony w parafii, w której spisywany jest protokół przedślubny, nie przedkłada metryki chrztu.
                        <li>Wdowiec i wdowa przedkładają świadectwo zgonu współmałżonka.
                        <li>Świadectwa nauki religii z ostatniej klasy szkoły podstawowej i ostatniej klasy szkoły średniej.
                        <li>Świadectwa katechizacji przedmałżeńskiej (tzw. „Kurs przedmałżeński”). Kurs ten jest wymagany do zawarcia Sakramentu Małżeństwa i trzeba wcześniej zatroszczyć się o jego ukończenie.
                        </ul>
                        
                        <h3>Katolicka Poradnia Rodzinna</h3>
                        Dekanalna Katolicka Poradnia Rodzinna działa przy parafii Wniebowzięcia Najświętszej Maryi Panny w Nowym Wiśniczu, ul. Ks. J. Białki 1 (w domu parafialnym).
                        <br>W ramach bezpośredniego przygotowania do sakramentu małżeństwa narzeczeni odbywają dwa spotkania w poradni.
                        
                        <h4>Terminy spotkań przedślubnych:</h4>
                        Spotkania przedślubne odbywają się wyłącznie w pierwsze soboty miesiąca (wyjątkowo w drugą sobotę, gdy w pierwszą wypadnie święto kościelne):
                        <br>Spotkanie 1. – godz. 9.00
                        <br>Spotkanie 2. – godz. 12.00

                        <h4>Ustalanie dat spotkań:</h4>
                        Na pierwsze spotkanie zapraszamy na godz. 9.00.
                        <br>Nie ma potrzeby wcześniejszej rejestracji telefonicznej
                        <br>W razie jakichkolwiek wątpliwości i pytań prosimy dzwonić na numer:
                        <br>503 585 889 lub 694 407 342.
                        <br><br>Termin drugiego spotkania jest uzgadniany na pierwszym spotkaniu.
                        <br><br> Aby spokojnie odbyć wymagane spotkania narzeczeni mogą zgłosić się do poradni nawet pół roku przed datą ślubu - jeszcze przed pierwszą rozmową w kancelarii parafialnej (wtedy kartkę poświadczającą odbycie spotkań otrzymają w poradni). Zwłaszcza w przypadku pracy za granicą warto zaplanować wizyty znacznie wcześniej i nie odkładać ich na ostatni miesiąc.
                        <br>Prosimy narzeczonych o złożenie ofiary w wysokości 50 złotych od pary.

                        <h4>Stały dyżur w poradni:</h4>
                        W trzecią środę każdego miesiąca w godz. 18:00-19:00 odbywa się dyżur doradcy rodzinnego. Zachęcamy do skorzystania wtedy z indywidualnych konsultacji i porad dla małżeństw – bez wcześniejszego umawiania się. W środy nie odbywają się spotkania przedślubne.
                        
                    </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
