{% extends 'base.html' %}

{% block head %}
<title>Świątynia</title>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="all-news-box">

            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-md-5 col-sm-12 widget-box">
                        <a href="{{url_for('history')}}" class="non-decorated-link">
                            <div class="widget-inner-container">
                                <h2>Historia Parafii</h2>
                                <img src="https://dub01pap001files.storage.live.com/y4mnPzfsuoUkreoULZrx-d7oJQGYCpdjQeORVNgHwivQwEdeaMGCqVVQnSg__IheT7yg_zMbfMgoelYvZarhyt4mFX7UkAZndknPPYagUwLhqolQ9apo2buNtHRkzGKRMMtZL6soelDz_-uCClntCydIObdIaBBSPBWFgRX85Cq0mhSoBWGPwyFACp1J6ICUyAO?width=4624&height=3472&cropmode=none" alt="NewsImage">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-5 col-sm-12 widget-box">
                        <a href="{{url_for('architecture')}}" class="non-decorated-link">
                            <div class="widget-inner-container">
                                <h2>Architektura</h2>
                                <img src="https://dub01pap001files.storage.live.com/y4mnPzfsuoUkreoULZrx-d7oJQGYCpdjQeORVNgHwivQwEdeaMGCqVVQnSg__IheT7yg_zMbfMgoelYvZarhyt4mFX7UkAZndknPPYagUwLhqolQ9apo2buNtHRkzGKRMMtZL6soelDz_-uCClntCydIObdIaBBSPBWFgRX85Cq0mhSoBWGPwyFACp1J6ICUyAO?width=4624&height=3472&cropmode=none" alt="NewsImage">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-5 col-sm-12 widget-box">
                        <a href="{{url_for('monuments')}}" class="non-decorated-link">
                            <div class="widget-inner-container">
                                <h2>Zabytki</h2>
                                <img src="https://dub01pap001files.storage.live.com/y4mnPzfsuoUkreoULZrx-d7oJQGYCpdjQeORVNgHwivQwEdeaMGCqVVQnSg__IheT7yg_zMbfMgoelYvZarhyt4mFX7UkAZndknPPYagUwLhqolQ9apo2buNtHRkzGKRMMtZL6soelDz_-uCClntCydIObdIaBBSPBWFgRX85Cq0mhSoBWGPwyFACp1J6ICUyAO?width=4624&height=3472&cropmode=none" alt="NewsImage">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-5 col-sm-12 widget-box">
                        <a href="{{url_for('priests')}}" class="non-decorated-link">
                            <div class="widget-inner-container">
                                <h2>Proboszczowie</h2>
                                <img src="https://dub01pap001files.storage.live.com/y4mnPzfsuoUkreoULZrx-d7oJQGYCpdjQeORVNgHwivQwEdeaMGCqVVQnSg__IheT7yg_zMbfMgoelYvZarhyt4mFX7UkAZndknPPYagUwLhqolQ9apo2buNtHRkzGKRMMtZL6soelDz_-uCClntCydIObdIaBBSPBWFgRX85Cq0mhSoBWGPwyFACp1J6ICUyAO?width=4624&height=3472&cropmode=none" alt="NewsImage">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-5 col-sm-12 widget-box">
                        <a href="{{url_for('saints')}}" class="non-decorated-link">
                            <div class="widget-inner-container">
                                <h2>Żywoty Świętych</h2>
                                <img src="https://dub01pap001files.storage.live.com/y4mnPzfsuoUkreoULZrx-d7oJQGYCpdjQeORVNgHwivQwEdeaMGCqVVQnSg__IheT7yg_zMbfMgoelYvZarhyt4mFX7UkAZndknPPYagUwLhqolQ9apo2buNtHRkzGKRMMtZL6soelDz_-uCClntCydIObdIaBBSPBWFgRX85Cq0mhSoBWGPwyFACp1J6ICUyAO?width=4624&height=3472&cropmode=none" alt="NewsImage">
                            </div>
                        </a>
                    </div>

                    <div class="col-md-5 col-sm-12 widget-box">
                        <a href="{{url_for('xmas')}}" class="non-decorated-link">
                            <div class="widget-inner-container">
                                <h2>Ruchoma Szopka</h2>
                                <img src="https://dub01pap001files.storage.live.com/y4mnPzfsuoUkreoULZrx-d7oJQGYCpdjQeORVNgHwivQwEdeaMGCqVVQnSg__IheT7yg_zMbfMgoelYvZarhyt4mFX7UkAZndknPPYagUwLhqolQ9apo2buNtHRkzGKRMMtZL6soelDz_-uCClntCydIObdIaBBSPBWFgRX85Cq0mhSoBWGPwyFACp1J6ICUyAO?width=4624&height=3472&cropmode=none" alt="NewsImage">
                            </div>
                        </a>
                    </div>

                    <!--
                        
                    <div class="col-md-5 col-sm-12 widget-box">
                        <a href="{{url_for('chapels')}}" class="non-decorated-link">
                            <div class="widget-inner-container">
                                <h2>Kapliczki przydrożne</h2>
                                <img src="https://dub01pap001files.storage.live.com/y4mnPzfsuoUkreoULZrx-d7oJQGYCpdjQeORVNgHwivQwEdeaMGCqVVQnSg__IheT7yg_zMbfMgoelYvZarhyt4mFX7UkAZndknPPYagUwLhqolQ9apo2buNtHRkzGKRMMtZL6soelDz_-uCClntCydIObdIaBBSPBWFgRX85Cq0mhSoBWGPwyFACp1J6ICUyAO?width=4624&height=3472&cropmode=none" alt="NewsImage">
                            </div>
                        </a>
                    </div>

                    -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
