{% extends 'base.html' %}

{% block head %}
<title>Admin</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="container">
        <div class="row justify-content-center management-bar">
            <h1>Panel administracyjny</h1>
            <a class="col-xl-3 col-md-4 col-sm-10 non-decorated-link management-button" href="{{url_for('login')}}">Logowanie</a>
            <a class="col-xl-3 col-md-4 col-sm-10 non-decorated-link management-button" href="{{url_for('registration')}}">Rejestracja</a>
        </div>
    </div>
</div>
{% endblock %}