{% extends 'base.html' %}

{% block head %}
<title>Admin</title>
{% endblock %}

{% block body %}
<div class="main">
    <div class="container">
        <div class="row justify-content-center management-bar">
            <h1>Panel administracyjny</h1>
            <a class="col-xl-2 col-md-3 col-sm-10" href="{{url_for('login')}}"><div class="management-button">Logowanie</div></a>
            <a class="col-xl-2 col-md-3 col-sm-10" href="{{url_for('registration')}}"><div class="management-button">Rejestracja</div></a>
        </div>
    </div>
</div>
{% endblock %}