{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <div class="management-bar">
                <h1>Logowanie</h1>
                <form method="POST" action="">
                    {{ form.hidden_tag() }} <br>
                    {{ form.username }} <br>
                    {{ form.password }} <br>
                    {{ form.submit }} <br>
                </form>
            </div>
        </div>
    </div>     

{% endblock %}
