<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nowy wpis</title>
</head>
<body>
    <h1>Nowy wpis</h1>
    
    <form action="/nowy" method="POST">
        <p>Tytuł:</p>
        <input type="text" name="title" id="title"> <br>
        <p>Zdjęcie główne:</p>
        <input type="text" name="photo" id="photo"> <br>
        <p>Treść:</p>
        <input type="text" name="content" id="content"> <br>
        <input type="submit" value="Zapisz">
    </form>

</body>
</html>