{% extends 'base.html' %}

{% block head %}
<title>Zarządzanie</title>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="all-news-box">       
            <div class="container">
                <div class="row justify-content-center management-bar">
                    <h1>Zarządzanie</h1>
                    <a class="col-xl-3 col-md-4 col-sm-10 non-decorated-link management-button" href="{{url_for('nowy')}}">Nowy post</a>
                    <a class="col-xl-3 col-md-4 col-sm-10 non-decorated-link management-button" href="{{url_for('registration')}}">Nowy użytkowik</a>
                    <a class="col-xl-3 col-md-4 col-sm-10 non-decorated-link management-button" href="{{url_for('logout')}}">Wyloguj się</a>
                </div> 
                <div class="row justify-content-center" id="posts-row">
                    {% for post in posts %}
                        <div class="col-xl-3 col-md-5 col-sm-12 widget-box" >
                            <div class="widget-inner-container"> 
                                <h2>{{post.title}}</h2>
                                <img alt="NewsImage" src="{{post.main_photo}}">
                                <div class="post-management-button">{% if post.is_public > 0 %} Cofnij publikację {% else %} Opublikuj {% endif %}</div>
                                <div class="post-management-button">Dodaj galerię</div>
                                <div class="post-management-button">Edytuj</div>
                                <div class="post-management-button">Usuń post</div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
    </div>


{% endblock %}
