{% extends 'base.html' %}

{% block head %}
<title>Aktualizacja wpisu</title>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <div class="management-bar">
                <h1>Aktualizacja wpisu</h1>
                <form action="/update-post/{{post.id}}" method="POST">
                    <p>Tytuł:</p>
                    <input type="text" name="title" id="new-post-title" maxlength="100" value="{{post.title}}" required> <br>
                    <p>Zdjęcie główne:</p>
                    <a class="non-decorated-link management-button" href="{{url_for('photos')}}" target="_blank">Zdjęcia</a>
                    <input type="text" name="photo" id="new-post-photo" maxlength="200"  value="{{post.main_photo}}" required> <br>
                    <p>Treść:</p>
                    <textarea name="content" id="new-post-content" rows="16" maxlength="3600" required>{{post.content}}</textarea> <br>
                    <input type="submit" value="Zapisz" class="management-button submit-post-button">
                    <button type="button" id="preview-button" class="management-button">Podgląd</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/preview.js') }}"></script>

{% endblock %}
